<!DOCTYPE html>
<html>
<head>
	<title>RRHH</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/metisMenu.css"/>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	{#    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">#}

	<!-- Bootstrap core CSS -->
	{#    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">#}
	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/dashboard.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker3.css">
	<script src="{{ STATIC_URL }}js/scripts.js"></script>

</head>
</head>
<body>


<div id="wrap">
	<div class="container-fluid">
		<div class="row">
			{% if not user.is_anonymous %}
			<div class="col-sm-3 col-md-2 sidebar">
				<nav class="sidebar-nav">
					{% block menu %}                    
						{% include 'menu/menu.html' %}
					{% endblock %}
				</nav>
			</div>
			{% endif %}
			
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

				<div id="content">
					{% block content %}
						<h1>Sistema de Control de Recursos Humanos</h1>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>



<style type="text/css">
	#footer p{
		color: white;
		line-height: 100%;

	}
</style>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<script src="{{ STATIC_URL }}js/configuracion.js"></script>
<script src="{{ STATIC_URL }}js/jquery.metisMenu.js"></script>
<script src="{{ STATIC_URL }}js/moment.min.js"></script>

</body>
</html>