<div class="firma">
	<table class="table text-center" style="">
		<tr>
			<th>.....................................</th>
			<th>.....................................</th>
			<th>.....................................</th>
		</tr>

		<tr>
			<th>Firma Solicitante</th>
			<th>Vº Bº Jefe Inmediato</th>
			<th>Vº Bº Dpto. RRHH</th>
		</tr>

		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		
		<tr>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<tr>
			<th>En conocimiento de:</th>
			<th>.....................................</th>
			<th>.....................................</th>
		</tr>
		<tr>
			<th></th>
			<th>Nombre</th>
			<th>Firma</th>
		</tr>
	</table>
	<hr>
	<div class="observaciones">
		
		<p>(En caso de Interinos/as de Directores y Jefes afectados en las Resoluciones REC Nº 058/12 y REC 18/12)</p>
		<p>Obs.: Cualquier enmienda o falta de datos invalida el documento</p>

		<p class="firma_depto">Desarrollado por Departamento de Tecnología e Informática </p>
	</div>
		<p class="autor">Creado por: <i>{{ autor.username }}</i> </p>
</div>


<style type="text/css">
	.autor{
		float: right;
		bottom: 0;
	}
</style>