{% load static %}
<div class="row header">
    <div class="col-md-3">
        <img src="{% static "img/logo.jpg" %}" alt="My image" class="logo"/>
    </div>
    <div class="col-md-9" id="title">
        <div class="text-center">
            <h4>UNIVERSIDAD NACIONAL DE ITAPÚA (U.N.I.)</h4>
            <font size=1>Creada por Ley 1009/96 de fecha 03 de Diciembre de 1996</font>
            <br>
                <font size=3><b>{{ group.name }}</b></font>
            </br>
        </div>
    </div>
    <hr>
</div>

