{% extends 'base.html' %}
{% load sortable %}
{% block menu %}
    {% include 'menu/menu_vacaciones.html' with ajustes='active' %}
{% endblock %}
{% block content %}
    <h1 class="page-header">
        Ajustes de Vacaciones
    </h1>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-8">

                </div>
                <div class="col-lg-4">
                     <div class="input-group">
                        <input type="text" id="input-filtro" class="form-control" value="{{ request.GET.filtro }}" autofocus="true">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </div>
            <hr/>
            <table class="table table-hover">
                <thead>
                <tr>
                    {% sortable_header id "Número" %}
                    {% sortable_header apellido "Apellidos" %}
                    {% sortable_header nombre "Nombres" %}
                    {% sortable_header documento "Nro. Documento" %}
                    <th>Días Libres</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>

                {% for funcionario in funcionarios %}
                    <tr>
                        <td>{{ funcionario.id }}</td>
                        <td>{{ funcionario.apellido }}</td>
                        <td>{{ funcionario.nombre }}</td>
                        <td>{{ funcionario.documento }}</td>
                        <td>{{ funcionario.total_libres }}</td>
                        <td>
                            <a href="{% url "ajustes_vacaciones_detail" funcionario.id %}"
                               class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="right"
                               title="Ver Detalles"><span
                                    class="glyphicon glyphicon-eye-open"></span></a>
                            
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            {% include "paginador.html" with page_range=page_range pagination_list=funcionarios  %}
        </div>
        <div class="panel-footer">

        </div>
    </div>
    <script src="{{ STATIC_URL }}js/vacaciones/ajustes_list.js"></script>

{% endblock %}