{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block menu %}
    {% include 'menu/menu_parametros.html' with feriado='active' %}
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Nuevo feriado
        <hr/>
    </h1>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                {% crispy form %}
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url "feriado_list"%}?estado=procesados" class="btn btn-default">Volver</a>
                </div>
            </div>
        </div>
    </form>

    
    <script type="text/javascript">
        $(function(){
            $('#fecha_datepicker').parent(this).datepicker({
                    clearBtn: true,
                    todayBtn: "linked",
                    format: "dd/mm"
            }).on('changeDate', function (ev) {
                $('#id_fecha').val(ev.format(0));
            });
        });

    </script>

    
{% endblock %}
