{% extends "base.html" %}
{% load staticfiles %}
{% block menu %}
    {% include 'menu/menu_licencias.html' with licencia='active'%}
{% endblock %}
{% block content %}

	<link rel="stylesheet" href="{% static 'css/print.css' %}"/>

    {% include 'pdf/pdf_header.html' %}


   <h3 class="page-header">
        <span class="web-title">Solicitud y Autorización de Licencias</span>
        <span class="report-title"></span>
        <hr/>
    </h3>
    <table class="table">
        <tr>
            <th>Número:</th>
            <td> {{ licencia.id }}</td>
        </tr>
        <tr>
            <th>Fecha de emisión:</th>
            <td> {{ licencia.fecha_solicitud }}</td>
        </tr>

        <tr>
            <th>Solicitante:</th>
            <td> {{ licencia.funcionario }}</td>
        </tr>
        <tr>
            <th>Número de Documento:</th>
            <td> {{ licencia.funcionario.documento }}</td>
        </tr>

        <tr>
            <th>Cargo:</th>
            <td> {{ licencia.funcionario.cargo }} </td>
        </tr>
        <tr>
            <th>Sección:</th>
            <td> {{ licencia.funcionario.seccion }}</td>
        </tr>
        <tr>
            <th>Motivo:</th>
            <td> {{ licencia.motivo.descripcion }} </td>
        </tr>
        <tr>
            <th>Cantidad de días: </th>
            <td>{{ licencia.cantidad_dias }}</td>
        </tr>

        {% if licencia.motivo.tipo_motivo == "corridos" %}
            <tr>
                <th>Fecha de inicio:</th>
                <td> {{ licencia.fecha_inicio }} </td>
            </tr>
            <tr>
                <th>Fecha final: </th>
                <td> {{ licencia.fecha_fin }} </td>
            </tr>
        {% else %}
            <tr>
                <th>Fechas:</th>
                <td> {{ fechas }} </td>
            </tr>
        {% endif %}

    </table>
    <div id="div-footer-normal">
        {% include 'pdf/pdf_footer.html' %}
    </div>
    <div id="div-footer-jefes">
        {% include 'pdf/pdf_footer_jefes.html' %}
    </div>
    <div id="div-footer-facultades">
        {% include 'pdf/pdf_footer_facultades.html' %}
    </div>
    <div class="panel-footer noprint " id="div-footer">
        <button class="btn  btn-default btn-back">Volver</button>
        <div class="btn-group">
            <button type="button" class="btn btn-info btn-print">Imprimir</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" class="btn-print">Vista Normal</a></li>
                <li><a href="#" class="btn-print-facultades">Vista para Facultades</a></li>
                <li><a href="#" class="btn-print-jefes">Vista para Directores</a></li>
            </ul>
        </div>
    </div>

<script type="text/javascript">
    $('.btn-print').click(function(){
        var text = "Solicitud y Autorización de Licencias y Permisos SPVL/RRHH/01";
        $(".report-title").html( text.toUpperCase() );
        $("#div-footer-normal").show();
        $("#div-footer-jefes").hide();
        $("#div-footer-facultades").hide();
        window.print();        
    });

    $('.btn-print-jefes').click(function(){
        var text = "<p>Solicitud y Autorización de Licencias y Permisos SPVL/RRHH/02 -</p>\
                    <p>Jefes y Directores afectados RES. REC. Nº 18/2012</p>";
        $(".report-title").html( text.toUpperCase() );
        $("#div-footer-jefes").show();
        $("#div-footer-normal").hide();
        $("#div-footer-facultades").hide();
        window.print();
    });

    $('.btn-print-facultades').click(function(){
        var text = "Solicitud y Autorización de Vacaciones SPVL/RRHH/01";
        $(".report-title").html( text.toUpperCase() );

        $("#div-footer-facultades").show();
        $("#div-footer-jefes").hide();
        $("#div-footer-normal").hide();
        window.print();
    });
</script>



{% endblock %}

