{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block menu %}
    {% include 'menu/menu_licencias.html' with feriado='active' %}
{% endblock %}

{% block content %}
    <h1 class="page-header">
        Nuevo Motivo de licencia
        <hr/>
    </h1>
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                {% crispy form %}
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="{% url "motivo_list"%}" class="btn btn-default">Volver</a>
                </div>
            </div>
        </div>
    </form>
    <script src="{{ STATIC_URL }}js/licencias/licencias_form.js"></script>
    
{% endblock %}
